/*Para realizar comentarios en css*/
body{  
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
a {
    color:black;
    text-decoration: none;
    display: inline;
}
header{
    width: 100%;
    height: 130px;   
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;    
    background-color: #48cfad ;
}
header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons span::before{
    color: #ffffff;
    font-size: 25px;
}


nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:90px;
}
/*nav {
    width: 100%;
    height: 100px;
    background-color:#ffffff;
    -yo lo modifique
}*/
nav .nav-logo-container{
    margin-left: 50px;
}
nav .profile-link{
    text-decoration: underline;
    color: black;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-self: end;
    margin-right: 50px;
    /*yo lo modifique*/
} nav .nav-logo-container img{
    width: 195px;
    margin-top: 10px;
    /*yo lo hice*/
}
/*nav .profile-link{
    text-decoration: underline;
    /*yo lo hice
}*/
/*nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
    /*lo hizo el prof, pero lo vi innecesario
}*/

.main .main-section{
    position:relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    /*display:grid;
    /*yo lo hice*/
} 
.main .main-section img{
    width:100%;
    height: 100%;
    position: relative;

    /*yo lo hice*/
}
.main .main-text{
    position: absolute;
    top: 10%;
    left: 10%;
    color: #ffffff;
    font-size:16px ;
    transform: translate(-50%, -50%);
}

.main .main-button{
    position: absolute;
    align-items: center;
    top: 10%;
    left: 10%;
    margin: 80px;
    color:#48cfad;
    border-color: #ffffff;
    font-weight: bold;

    
}